// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    max-width: 1340px;
}

.bg-body-tertiary, .footer {
    background: transparent !important;
}

.navbar {
    --bs-navbar-padding-y: 0;
}

.navbar .container-fluid {
    padding-left: 0;
    background: rgb(255, 255, 255, .1);
}

.navbar-brand {
    background-color: white;
    padding: 10px;
}

.nav-item {
    padding: 0 10px;
}

.navbar-toggler-icon {
    width: 0.7em;
    height: 1.4em;
}

.article-banner {
    width: 200px;
    height: 120px;
    margin: 20px auto 0;
}

.center {
    text-align: center;
    margin: auto;
}

.card {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
}

.footer {
    font-size: 0.95em;
    background: rgb(16, 16, 16, .6) !important;
}

.footer small {
    font-size: 0.75em;
}

.footer a:hover {
    text-decoration: none;
}

.footer img, .card img {
    border-radius: 4px;
}

h1, .h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 20px;
}

.home-col {
    min-width: 340px;
    padding: 0 8px;
}

.bottom-space {
    margin-bottom: 40px;
}

.btn-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: #cc6600;
    --bs-btn-border-color: cc6600;
    --bs-btn-hover-color: #222;
    --bs-btn-hover-bg: #cc6600;
    --bs-btn-hover-border-color: #cc6600;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(255, 166, 0, 1);
    --bs-btn-active-border-color: rgba(255, 166, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: orange;
    --bs-btn-disabled-border-color: orange;
    margin: 10px;
    padding: 10px 20px;
}

@media (max-width: 992px) {
    .navbar-collapse {
        margin-top: 15px;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .nav-item {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mx-1, .mx-2, .mx-3, .mx-4, .mx-5, .card .row .col {
        margin: 1rem auto !important;
    }

    .fs-1, .fs-2, .fs-3, .fs-4, .fs-5 {
        text-align: center;
    }

    .no-response {
        visibility: hidden;
        display: none;
    }
}


@media (min-width: 1024px) {
    .centerpage {
        min-height: 86vh !important;
    }
}
