// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

main {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}

.bg-body-tertiary, .footer {
    background: transparent !important;
}

.navbar .container-fluid {
    padding-left: 0;
    background: rgb(255, 255, 255, .1);
}

.navbar-brand {
    background-color: white;
    padding-left: 10px;
}

.nav-item {
    padding: 0 10px;
}

.navbar-toggler-icon {
    width: 0.5em;
    height: 1em;
}

.article-banner {
    width: 200px;
    height: 120px;
    margin: 20px auto 0;
}

.center {
    text-align: center;
    margin: auto;
}

.card {
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: orange;
}

a:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: none;
    color: white;
}

.footer {
    font-size: 0.95em;
    background: rgb(16, 16, 16, .6) !important;
}

.footer small {
    font-size: 0.75em;
}

.footer a:hover {
    text-decoration: none;
}

.footer img, .card img {
    border-radius: 4px;
}

h1, .h1 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 20px;
}

@media (max-width: 750px) {
}

@media (max-width: 992px) {
    .navbar-collapse {
        margin-top: 15px;
    }

    .navbar-nav {
        margin-left: 10px;
    }

    .mx-1, .mx-2, .mx-3, .mx-4, .mx-5, .card .row .col {
        margin: 1rem auto !important;
    }

    .fs-1, .fs-2, .fs-3, .fs-4, .fs-5 {
        text-align: center;
    }
}


@media (min-width: 1024px) {
    .centerpage {
        min-height: 86vh !important;
    }
}
