// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

main {
    padding-top: 20px;
}

.navbar-brand {
    background-color: white;
}

.nav-item {
    padding: 0 10px;
}

.article-banner {
    width: 200px;
    height: 120px;
    margin: 20px auto 0;
}

.center {
    text-align: center;
    margin: auto;
}

h5 a {
    text-decoration: none;
    color: orange;
}

h5 a:hover {
    text-decoration: underline;
}

.footer {
    margin-top: 20px;
}